name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-orders:
    runs-on: ubuntu-latest
    
    services:
      rabbitmq:
        image: rabbitmq:3
        ports:
          - 5672:5672
        options: >-
          --health-cmd "rabbitmqctl status"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      working-directory: ./services/orders
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests (Pytest)
      working-directory: ./services/orders
      env:
        RABBITMQ_URL: amqp://guest:guest@localhost:5672/
      run: |
        # O parametro -v aumenta o detalhamento
        pytest -v